img {
    width: 250px;
    height: 150px;
}
.CountryCard {
    margin: 30px;
    text-decoration: none;
    color: antiquewhite;
    text-align: center;
    transition: 700ms;
}
.CountryCard:hover{
    background: rgb(255,229,0);
    color: black;
}

