
.containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    height: 100vh;
}
.alert{
    text-align: center;
    color: aliceblue;
    margin: 0;
}
.containerDivide{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation-name: move;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.container-cards-activity{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 70%;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    background: rgb(45,45,45);
    width: 375px;
    height: 650px;
    border-radius: 20px;
    transition: 700ms;
    margin-right: 50px;
    margin-left: 50px;
}
.form:hover{
    box-shadow: 20px 20px 20px rgb(45, 45, 45);
}
.submit{
    margin-top: 20px;
}
.danger{
    color: red;
    border-style: solid;
    border-color:red;
    margin: 0;
}
.container-button{
    width: 300;
    margin: 10px;
}
.button{
    margin-left: 5px;
    margin-right: 5px;
    color:aliceblue;
    width: 100px;
    cursor: pointer;
}
@keyframes move {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.container-title-activity{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title{
    color: rgb(45, 45, 45);
    font-size: 100px;
}
.return-activity{
    background-color: rgb(45, 45, 45);
    color: aliceblue;
    width: 300px;
    height: 100px;
    font-size: 20px;
    cursor: pointer;
}
@media (max-width: 750px) {
    .return-activity {
        font-size: 15px;
        width: 250px;
        height: 75px;
    }
    .title{
        font-size: 75px;
    }
    .containerDivide{
        display: flex;
        flex-wrap: wrap;
    }
    .container-cards{
        width: 100%;
    }
}
@media (max-width: 550px) {
    .return-activity {
        font-size: 13px;
        width: 200px;
        height: 50px;
    }
    .title{
        font-size: 45px;
    }
}