.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
/*     background-color: rgb(12, 12, 12);
    height: 88.2vh; */
}
.detail{
    display: flex;
    justify-content: space-around;
    width: 15.8rem;
}
.container-activity{
    margin: 20px;
    padding: 0;
    justify-content: center;
}
/* .container-activities{
    color: antiquewhite;
    margin: 30px;
    text-decoration: none;
    color: antiquewhite;
    text-align: center;
    transition: 700ms;
    display: flex;
} */
