.container-home {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: move 3s;
    padding-top: 80px;
}
@keyframes move {
    10%{opacity: 0;}
    30%{opacity: 0.3;}
    60%{opacity: 0.5;}
    90%{opacity: 0.7;}
    100%{opacity: 1;}
}
.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-filters-forms {
    display: flex;
    width: 350px;
    justify-content: space-between;
    background-color: rgb(50, 50, 50);
}/*
h3{
    margin:0;
}
.container-page-control button {
    background-color: yellow;
    color: rgb(12, 12, 12);
}
.boton :hover{
    width: 20px;
    height: 20px;
}
.filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
} */
@media (max-width: 550px) {
    .container-cards{
        padding-top: 525px;
    }
}
