
.Welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://images5.alphacoders.com/353/thumb-1920-353018.jpg);
    animation: move 4s;
}
@keyframes move {
    10%{opacity: 0;}
    30%{opacity: 0.3;}
    60%{opacity: 0.5;}
    90%{opacity: 0.7;}
    100%{opacity: 1;}
}
.title-welcome {
    font-size: 150px;
    text-decoration: none;
    color: white;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    transition: 140ms;
}
.title-welcome:hover {
    color: rgb(227, 227, 227);
    font-size: 160px;
    text-shadow: 20px 20px 20px rgb(0, 0, 0)
}